In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score, roc_curve
from pandas_profiling import ProfileReport
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
import sklearn
import matplotlib.pyplot as plt
from sklearn import tree
%matplotlib inline

In [3]:
data = pd.read_csv('winequality_red.csv')

In [4]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
x = data.drop(columns='quality')

In [6]:
y = data.quality

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state = 20)

In [8]:
knn = KNeighborsClassifier()

In [9]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [10]:
knn.score(x_test,y_test)

0.5175

In [11]:
pram = {
    'n_neighbors':[3,5,7,9,12,13,15,17,21],
    'algorithm' : ['auto', 'ball_tree','kd_tree','brute'],
    'leaf_size' : [10,15,20,25,30,35,40,45,50],
    'p' : [1,2],
    'weights' : ['uniform','distance']
}

In [12]:
grid_cv = GridSearchCV(knn, param_grid=pram)

In [13]:
grid_cv.fit(x_train,y_train)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
                         'leaf_size': [10, 15, 20, 25, 30, 35, 40, 45, 50],
                         'n_neighbors': [3, 5, 7, 9, 12, 13, 15, 17, 21],
                         'p': [1, 2], 'weights': ['uniform', 'distance']})

In [14]:
grid_cv.best_params_

{'algorithm': 'auto',
 'leaf_size': 10,
 'n_neighbors': 21,
 'p': 1,
 'weights': 'distance'}

In [16]:
knn = KNeighborsClassifier(n_neighbors=21,p=1, weights = 'distance',leaf_size=10, algorithm='auto')

In [17]:
knn.fit(x_train, y_train)

KNeighborsClassifier(leaf_size=10, n_neighbors=21, p=1, weights='distance')

In [18]:
knn.score(x_test,y_test)

0.6325

In [19]:
import pickle
pickle.dump(knn, open("knn1.pkl","wb"))

In [20]:
pwd

'C:\\Users\\deepak.thakur\\ineuro\\Class Lectures'

In [55]:
ls

 Volume in drive C is Windows
 Volume Serial Number is CA24-6C12

 Directory of C:\Users\deepak.thakur\ineuro\Class Lectures

10-10-2021  16:02    <DIR>          .
10-10-2021  16:02    <DIR>          ..
10-10-2021  15:17    <DIR>          .ipynb_checkpoints
06-10-2021  09:10    <DIR>          __pycache__
28-05-2021  11:46            26,563 10 april modules and exeption.ipynb
10-10-2021  16:02            11,000 10th october.ipynb
28-04-2021  16:05            17,109 11 April class and object.ipynb
11-07-2021  18:10            81,782 11th july numpy.ipynb
02-10-2021  15:23        34,434,483 11th sept Logistic Regression Implementaion.ipynb
12-04-2021  19:29            29,345 13th March, String And List Manipulation.ipynb
14-06-2021  19:56            46,724 14th march python list manipulation.ipynb
15-05-2021  18:05            34,486 15th may SQL.ipynb
17-05-2021  10:21             5,824 16th may.ipynb
26-08-2021  09:11           294,027 17th july pandas data manupulations.ipynb
18-07-2021  18:03         2,031,189 18th july pandas and visualization.ipynb
19-04-2021  11:31            75,787 20th march Tuple, set and dict.ipynb
05-10-2021  08:38            38,257 21 march python function.ipynb
26-09-2021  16:34         2,092,878 22nd August ML- model training Linear Regression-1.ipynb
26-07-2021  23:03         1,080,973 24th july vsualization-2.ipynb
17-09-2021  07:45           593,061 25th july seaborn.ipynb
07-10-2021  15:34        11,305,637 26th sept decision tree implementation.ipynb
10-04-2021  16:43            30,451 27 feb.ipynb
26-09-2021  23:13         3,447,021 29nd August ML- model training Linear Regression-2, data set admission prediction.ipynb
04-05-2021  13:35            53,060 3rd april function.ipynb
09-10-2021  15:26        12,005,378 3rd october Decision tree implementation.ipynb
06-10-2021  08:52            64,067 4th april logging, debugging.ipynb
19-07-2021  22:12           276,608 5th june pandas.ipynb
07-06-2021  22:50           147,246 6th june pandas 2.ipynb
21-09-2021  07:41        18,232,200 7th august EDA.ipynb
12-04-2021  10:26             7,477 7th march list.ipynb
19-04-2021  18:05            16,951 7th march live class notebook for loop while and range function  (1).ipynb
16-07-2021  10:39            18,124 8th may inheritance, encapsulation, abstraction.ipynb
12-05-2021  13:40             8,641 9th may oops concept.ipynb
09-10-2021  16:38           768,092 9th october.ipynb
28-05-2021  10:30                91 addition.py
26-09-2021  17:54               548 admission_lr_model.pickle
26-09-2021  16:40            16,085 Admission_Prediction.csv
23-09-2021  18:48             4,756 Advertising.csv
24-09-2021  16:54           522,048 ai4i2020.csv
06-10-2021  23:59                 0 dt_en_meta.dot
07-10-2021  17:03           123,166 dt_model1.png
07-08-2021  15:22            51,260 FitBit data.csv
10-10-2021  16:01           253,076 knn.pkl
09-06-2021  14:22            37,733 Krish youtube.ipynb
26-09-2021  16:33         2,073,499 Linear regression part 1.ipynb
24-09-2021  16:58            18,841 Linear Regression Task.ipynb
24-09-2021  16:03               452 linear_reg.sav
06-10-2021  08:44    <DIR>          Logging
09-06-2021  19:03             1,926 My_pickle
12-05-2021  13:04            27,342 oops 2.ipynb
06-06-2021  21:08             2,658 palyer.csv
25-06-2021  22:47           107,670 Pandas-1.ipynb
15-05-2021  18:07    <DIR>          SQL
23-06-2021  10:52               423 test.csv
09-06-2021  19:19         1,135,424 test.h5
23-09-2021  19:33         1,666,481 test.html
21-06-2021  12:33               270 test.log
21-06-2021  15:14               192 test.py
05-10-2021  09:39               229 test.txt
28-05-2021  10:59    <DIR>          Test1
21-06-2021  13:10                64 test1.py
07-05-2021  18:44                93 test5.py
26-04-2021  14:53               196 test6.py
21-09-2021  08:30        18,236,176 Untitled.ipynb
09-10-2021  22:58             1,077 Untitled1.ipynb
03-08-2021  06:54            18,443 while loop.ipynb
28-12-2019  17:56           100,951 winequality_red.csv
08-06-2021  17:08            18,546 write in csv file.ipynb
              61 File(s)    111,694,157 bytes
               7 Dir(s)  104,038,285,312 bytes free

In [21]:
knn.predict(x_test)

array([6, 5, 5, 5, 5, 6, 5, 6, 5, 6, 6, 5, 6, 5, 5, 5, 5, 6, 6, 6, 5, 6,
       6, 5, 7, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 7, 6, 5, 6, 6, 5, 5, 6, 5,
       7, 5, 6, 6, 6, 6, 7, 5, 5, 5, 6, 6, 5, 5, 5, 6, 5, 5, 6, 5, 5, 5,
       5, 5, 6, 6, 5, 6, 6, 6, 5, 5, 6, 5, 5, 6, 5, 6, 6, 5, 5, 6, 5, 5,
       5, 5, 5, 6, 5, 6, 6, 6, 5, 6, 7, 5, 5, 5, 6, 6, 6, 6, 6, 5, 5, 6,
       5, 6, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 5, 5, 6, 6, 6, 5, 6, 7, 6, 5,
       5, 6, 6, 5, 6, 6, 5, 7, 5, 6, 6, 5, 5, 6, 6, 6, 5, 6, 5, 5, 5, 6,
       6, 6, 5, 5, 5, 6, 6, 6, 6, 6, 5, 7, 5, 5, 5, 5, 5, 6, 5, 6, 6, 6,
       6, 6, 5, 5, 7, 6, 7, 5, 5, 6, 5, 5, 6, 5, 6, 5, 6, 6, 5, 7, 5, 6,
       6, 6, 6, 5, 6, 5, 6, 5, 6, 6, 5, 5, 6, 6, 5, 5, 6, 5, 6, 5, 5, 5,
       5, 5, 5, 6, 6, 7, 5, 6, 7, 6, 5, 5, 7, 6, 5, 5, 6, 6, 6, 5, 6, 7,
       7, 5, 6, 6, 5, 6, 5, 6, 5, 5, 6, 5, 5, 6, 7, 5, 5, 6, 6, 5, 5, 5,
       6, 6, 6, 7, 5, 5, 5, 7, 7, 6, 5, 7, 6, 5, 6, 5, 6, 6, 6, 5, 5, 5,
       5, 5, 5, 6, 6, 6, 6, 7, 7, 5, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 7, 7, 6, 5, 6, 5, 6, 5, 5, 5, 6, 6, 6, 5, 5, 5, 6, 5, 6, 6, 5,
       5, 5, 5, 6, 5, 5, 5, 7, 5, 6, 5, 5, 6, 6, 6, 5, 7, 5, 7, 6, 5, 7,
       5, 6, 7, 5, 6, 5, 5, 5, 5, 6, 5, 5, 5, 6, 6, 6, 5, 7, 6, 5, 5, 5,
       5, 5, 5, 5, 6, 6, 7, 6, 6, 7, 6, 5, 5, 5, 6, 5, 6, 5, 5, 6, 6, 5,
       5, 5, 5, 5], dtype=int64)

In [22]:
x_test.iloc[0]

fixed acidity            7.10000
volatile acidity         0.27000
citric acid              0.60000
residual sugar           2.10000
chlorides                0.07400
free sulfur dioxide     17.00000
total sulfur dioxide    25.00000
density                  0.99814
pH                       3.38000
sulphates                0.72000
alcohol                 10.60000
Name: 1508, dtype: float64

In [23]:
knn.predict([x_test.iloc[0]])

array([6], dtype=int64)

In [24]:
from sklearn.svm import SVC

In [25]:
svc = SVC()
svc.fit(x_train,y_train)

SVC()

In [26]:
svc.score(x_test,y_test)

0.5

In [27]:
param = {"kernel":['rbf','sigmoid','poly','linear']
    
}
svm_grid = GridSearchCV(svc, param_grid=param)
svm_grid.fit(x_train,y_train)

GridSearchCV(estimator=SVC(),
             param_grid={'kernel': ['rbf', 'sigmoid', 'poly', 'linear']})

In [28]:
svm_grid.best_params_

{'kernel': 'linear'}

In [29]:
svc1 = SVC(kernel ='linear')
svc1.fit(x_train,y_train)

SVC(kernel='linear')

In [30]:
svc1.score(x_test,y_test)

0.5925

In [31]:
svc1 = SVC(kernel ='poly')
svc1.fit(x_train,y_train)

SVC(kernel='poly')

In [32]:
svc1.score(x_test,y_test)

0.49

In [ ]:
#Don't run it is taking much time
param = {"kernel":['rbf','sigmoid','poly','linear'],
         'C':[.1,.4,.6,1,2,3,100,200,500],
         'gamma':[.001,.1,.4,.004,.003]
    
}
svm_grid = GridSearchCV(svc, param_grid=param, verbose = 3)
svm_grid.fit(x_train,y_train)

In [ ]:
svm_grid.best_params_

In [79]:
df = pd.read_csv('Admission_Prediction.csv')

In [80]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [94]:
x = df.drop(['Serial No.','Chance of Admit'], axis=1)

In [95]:
x

      GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0    337.000000        118.0                4.0  4.5  4.5  9.65         1
1    324.000000        107.0                4.0  4.0  4.5  8.87         1
2    316.558763        104.0                3.0  3.0  3.5  8.00         1
3    322.000000        110.0                3.0  3.5  2.5  8.67         1
4    314.000000        103.0                2.0  2.0  3.0  8.21         0
..          ...          ...                ...  ...  ...   ...       ...
495  332.000000        108.0                5.0  4.5  4.0  9.02         1
496  337.000000        117.0                5.0  5.0  5.0  9.87         1
497  330.000000        120.0                5.0  4.5  5.0  9.56         1
498  312.000000        103.0                4.0  4.0  5.0  8.43         0
499  327.000000        113.0                4.0  4.5  4.5  9.04         0

[500 rows x 7 columns]

In [96]:
y = df['Chance of Admit']

In [97]:
x_train, x_test,y_train,y_test = train_test_split(x,y,random_state=30,test_size=.20)

In [85]:
from sklearn.svm import SVR

In [86]:
svr = SVR()

In [98]:
svr.fit(x_train,y_train)

SVR()

In [88]:
df.isna().sum()

Serial No.            0
GRE Score            15
TOEFL Score          10
University Rating    15
SOP                   0
LOR                   0
CGPA                  0
Research              0
Chance of Admit       0
dtype: int64

In [89]:
df['GRE Score'] = df['GRE Score'].fillna(df['GRE Score'].mean())

In [90]:
df['TOEFL Score'] = df['TOEFL Score'].fillna(df['TOEFL Score'].mean())

In [91]:
df['University Rating'] = df['University Rating'].fillna(df['University Rating'].mean())

In [92]:
df.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [99]:
from sklearn.metrics import r2_score
r2_score(y_test, svr.predict(x_test))

0.6774861142346673

In [100]:
svr.predict(x_test)

array([0.79688575, 0.56869993, 0.70213979, 0.63957666, 0.83300249,
       0.75707761, 0.65994706, 0.68822501, 0.73425829, 0.74644011,
       0.83586246, 0.68361861, 0.7742846 , 0.89252382, 0.81404201,
       0.82819776, 0.55198519, 0.60052276, 0.75981017, 0.71735058,
       0.70996637, 0.70163294, 0.79465708, 0.81204083, 0.77420576,
       0.56782111, 0.63432782, 0.68000782, 0.62334513, 0.58584246,
       0.6721899 , 0.54055777, 0.79251405, 0.64200758, 0.6673232 ,
       0.66244129, 0.6528857 , 0.79952426, 0.55052807, 0.662     ,
       0.57613553, 0.70849189, 0.68005545, 0.66963298, 0.78661726,
       0.6573585 , 0.92081692, 0.63184235, 0.62744472, 0.78123402,
       0.89119762, 0.69692383, 0.79749674, 0.69565313, 0.67689525,
       0.88664598, 0.63801105, 0.53762574, 0.62869004, 0.71534898,
       0.78286732, 0.68986065, 0.73407167, 0.64214697, 0.71423013,
       0.66859242, 0.66567013, 0.62528752, 0.86875038, 0.68531222,
       0.526498  , 0.87626977, 0.6520002 , 0.5400567 , 0.65004413,
       0.74024002, 0.61649858, 0.60512814, 0.73161202, 0.71517375,
       0.75351765, 0.89096824, 0.55840697, 0.87058362, 0.68908889,
       0.79068047, 0.71810894, 0.72214813, 0.67454456, 0.67538197,
       0.73324356, 0.78752861, 0.79456292, 0.72620371, 0.80387216,
       0.79730499, 0.85964253, 0.76017316, 0.77128825, 0.69726552])

In [101]:
svr.predict([x.iloc[0]])

array([0.89252382])

In [102]:
y[0]

0.92

In [103]:
svr.score(x_test,y_test)

0.6774861142346673

# Stacking

In [105]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [106]:
data = pd.read_csv('winequality_red.csv')

In [107]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [108]:
x = data.drop(columns='quality')
y = data.quality

In [109]:
train, val_train, test, val_test = train_test_split(x,y,random_state=30, test_size=.50)

In [110]:
x_train, x_test, y_train, y_test = train_test_split(train, test,random_state=30, test_size=.20)

In [111]:
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [112]:
knn.score(x_test, y_test)

0.54375

In [113]:
svc = SVC()
svc.fit(x_train, y_train)

SVC()

In [114]:
svc.score(x_test,y_test)

0.4875

In [116]:
prediction_knn = knn.predict(val_train)
prediction_svc = svc.predict(val_train)

In [117]:
prediction_knn

array([7, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 6, 5, 5, 6, 5, 5, 6,
       5, 5, 6, 6, 6, 5, 5, 6, 5, 6, 6, 5, 6, 6, 6, 6, 5, 7, 6, 6, 5, 4,
       6, 7, 6, 6, 5, 6, 5, 5, 5, 6, 5, 5, 6, 6, 5, 5, 6, 5, 5, 6, 5, 5,
       6, 6, 5, 4, 5, 5, 5, 6, 6, 6, 7, 5, 5, 6, 6, 6, 7, 6, 5, 5, 5, 6,
       5, 5, 5, 7, 6, 7, 6, 7, 5, 6, 5, 5, 5, 6, 5, 7, 6, 5, 6, 5, 7, 5,
       5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 5, 5, 6, 5, 5, 6, 6, 5,
       5, 6, 7, 5, 5, 5, 6, 6, 5, 5, 6, 5, 5, 5, 5, 5, 6, 7, 5, 5, 5, 5,
       6, 5, 6, 5, 4, 5, 5, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 5, 6, 5, 6, 5,
       6, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 6, 5, 7, 5, 6, 5,
       5, 6, 6, 5, 6, 5, 5, 6, 6, 6, 6, 5, 6, 6, 5, 6, 5, 4, 5, 6, 7, 5,
       6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 5, 6, 5, 5, 5, 6, 5, 6,
       6, 6, 5, 6, 6, 5, 6, 5, 5, 6, 5, 6, 6, 5, 6, 6, 5, 6, 6, 5, 6, 6,
       5, 5, 6, 6, 6, 6, 5, 6, 6, 5, 5, 6, 5, 6, 5, 6, 5, 6, 6, 5, 6, 6,
       7, 5, 6, 7, 5, 4, 6, 7, 5, 5, 6, 5, 5, 6, 5, 5, 6, 5, 6, 5, 5, 6,
       5, 6, 6, 5, 5, 6, 6, 6, 5, 6, 5, 6, 5, 6, 6, 5, 5, 5, 5, 5, 5, 5,
       6, 5, 6, 5, 5, 6, 6, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 5, 5, 6, 6,
       6, 4, 5, 6, 5, 5, 5, 6, 5, 7, 6, 5, 5, 5, 6, 6, 6, 5, 6, 5, 5, 6,
       5, 6, 5, 5, 5, 5, 5, 3, 6, 5, 6, 6, 5, 5, 5, 6, 7, 6, 5, 6, 7, 5,
       5, 6, 6, 6, 5, 5, 5, 5, 5, 6, 6, 5, 5, 5, 5, 7, 6, 5, 6, 5, 6, 6,
       5, 6, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 5, 5, 7, 6, 5,
       5, 6, 6, 5, 5, 5, 6, 5, 5, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 7, 5, 5,
       5, 6, 6, 5, 5, 6, 6, 5, 6, 6, 6, 6, 5, 6, 5, 7, 5, 5, 5, 6, 5, 5,
       5, 5, 5, 5, 5, 5, 6, 5, 6, 4, 6, 5, 5, 5, 5, 5, 6, 6, 6, 5, 6, 7,
       5, 5, 5, 6, 6, 6, 5, 5, 5, 5, 6, 6, 5, 6, 6, 5, 5, 5, 6, 7, 5, 5,
       6, 5, 5, 5, 6, 6, 5, 6, 5, 5, 6, 5, 6, 7, 5, 6, 5, 6, 5, 6, 5, 5,
       5, 6, 5, 6, 5, 5, 5, 5, 5, 6, 5, 6, 6, 5, 5, 5, 5, 5, 6, 6, 5, 6,
       5, 6, 6, 6, 6, 5, 5, 5, 5, 5, 6, 5, 5, 6, 5, 5, 6, 6, 6, 5, 5, 6,
       5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 7, 6, 5, 5, 5, 4, 6, 5, 5, 6, 6, 5,
       7, 6, 6, 5, 6, 5, 6, 6, 6, 7, 6, 5, 6, 5, 5, 5, 5, 6, 6, 5, 6, 6,
       6, 5, 6, 6, 6, 6, 5, 5, 4, 5, 5, 6, 6, 5, 6, 6, 5, 7, 5, 5, 6, 6,
       7, 5, 5, 7, 6, 5, 6, 6, 5, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 6, 5, 5, 6, 5, 6, 5, 5, 5, 6, 6, 5, 6, 5, 5, 5, 6, 6, 5, 6, 5,
       5, 6, 6, 5, 5, 6, 6, 5, 6, 5, 6, 6, 5, 6, 5, 5, 6, 6, 5, 6, 7, 5,
       5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 6, 5, 5, 5, 6, 6, 6, 5, 5, 5, 6, 5,
       5, 5, 6, 5, 5, 6, 6, 6, 6, 5, 5, 6, 6, 6, 7, 5, 6, 5, 6, 6, 5, 5,
       6, 6, 5, 5, 5, 5, 6, 6, 6, 6, 5, 5, 6, 6, 5, 6, 5, 6, 6, 6, 5, 5,
       5, 6, 6, 5, 5, 5, 6, 5], dtype=int64)

In [118]:
prediction_svc

array([6, 6, 6, 6, 6, 5, 6, 5, 5, 5, 6, 5, 6, 6, 5, 6, 6, 5, 6, 5, 6, 6,
       6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 5, 5, 6, 5, 5, 6, 5, 6, 6, 5, 5,
       6, 6, 5, 6, 5, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 5, 6,
       5, 6, 5, 6, 5, 6, 6, 6, 5, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 5,
       5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 5, 5,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 6, 6, 6, 6, 5, 5, 6, 6,
       6, 6, 6, 6, 6, 6, 5, 6, 5, 5, 6, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6,
       5, 5, 6, 6, 5, 6, 6, 5, 5, 6, 6, 6, 5, 6, 5, 6, 6, 5, 6, 6, 6, 5,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 6, 5,
       6, 6, 5, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6,
       6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 6, 5, 6, 6,
       6, 5, 6, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6,
       6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 6, 6, 5, 6, 5, 5, 5,
       5, 6, 6, 5, 6, 6, 6, 6, 5, 6, 6, 5, 5, 5, 6, 6, 6, 5, 6, 6, 6, 5,
       6, 6, 6, 5, 5, 6, 6, 5, 6, 5, 5, 5, 5, 5, 6, 6, 6, 6, 5, 5, 6, 6,
       6, 6, 6, 6, 5, 5, 6, 6, 5, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 5, 6, 6,
       5, 6, 6, 5, 6, 6, 5, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 5,
       6, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 5, 5, 6, 6,
       6, 6, 5, 6, 6, 6, 5, 6, 6, 5, 6, 5, 5, 5, 6, 5, 6, 6, 5, 6, 6, 5,
       6, 6, 6, 5, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 6, 5, 6, 6, 6, 6, 5, 5,
       6, 6, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 6, 6, 5, 5, 5, 6, 5, 6,
       6, 6, 6, 6, 6, 5, 5, 5, 5, 6, 6, 6, 6, 5, 5, 6, 6, 6, 6, 6, 6, 6,
       5, 6, 6, 6, 5, 6, 5, 5, 5, 6, 6, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6,
       6, 5, 5, 6, 5, 6, 6, 6, 6, 5, 5, 6, 6, 6, 5, 6, 5, 6, 6, 5, 6, 5,
       5, 6, 5, 5, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6,
       5, 5, 6, 6, 6, 6, 6, 6, 5, 5, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6, 6, 6,
       6, 5, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 6, 6, 6,
       6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6,
       6, 5, 6, 6, 5, 5, 5, 6, 6, 6, 6, 5, 6, 5, 6, 5, 5, 5, 5, 6, 5, 6,
       6, 6, 5, 5, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 5, 6, 5,
       5, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6,
       5, 5, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6, 6, 5, 5, 6, 5, 6, 6, 6,
       6, 5, 6, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 5, 6, 6, 6,
       6, 6, 5, 6, 6, 6, 6, 5], dtype=int64)

In [119]:
input3 = np.column_stack((prediction_knn, prediction_svc))

In [120]:
output = val_test

In [121]:
output

1147    7
659     4
871     5
1333    5
1411    6
       ..
1073    6
200     7
942     7
1106    6
1329    6
Name: quality, Length: 800, dtype: int64

In [122]:
pd.DataFrame(input3)

     0  1
0    7  6
1    5  6
2    6  6
3    5  6
4    5  6
..  .. ..
795  5  6
796  5  6
797  5  6
798  6  6
799  5  5

[800 rows x 2 columns]

In [123]:
rf = RandomForestClassifier()

In [124]:
rf.fit(input3,output)

RandomForestClassifier()

In [125]:
rf.score(x_test, y_test)

ValueError: Number of features of the model must match the input. Model n_features is 2 and input n_features is 11

In [ ]:
knn
svc
rf

In [126]:
knn_output = knn.predict(x_test)
svc_output = svc.predict(x_test)

In [127]:
output_stack1 = np.column_stack((knn_output, svc_output))

In [128]:
rf.predict(output_stack1)

array([5, 6, 5, 5, 6, 6, 5, 6, 6, 5, 6, 5, 5, 5, 6, 6, 6, 5, 5, 6, 5, 6,
       6, 5, 5, 5, 6, 5, 5, 5, 6, 5, 6, 5, 6, 6, 5, 5, 6, 5, 5, 6, 5, 5,
       6, 6, 5, 5, 6, 5, 6, 5, 6, 5, 5, 6, 6, 6, 6, 5, 5, 5, 5, 6, 6, 5,
       5, 5, 6, 5, 5, 5, 5, 6, 6, 6, 6, 5, 5, 5, 6, 6, 5, 6, 5, 6, 6, 5,
       6, 6, 5, 5, 6, 5, 5, 6, 6, 5, 5, 5, 5, 6, 6, 5, 6, 5, 5, 6, 6, 5,
       5, 6, 6, 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 6, 5,
       6, 6, 5, 6, 6, 5, 5, 6, 5, 5, 5, 6, 6, 5, 5, 6, 5, 6, 6, 5, 6, 6,
       5, 5, 5, 6, 5, 5], dtype=int64)

In [129]:
rf.score(output_stack1, y_test)

0.55

In [ ]:
# task -https://archive.ics.uci.edu/ml/datasets/Activity+recognition+with+healthy+older+people+using+a+batteryless+wearable+sensor