In [49]:
a = "deep"

In [50]:
a

'deep'

In [55]:
c = "this is my first class for full stack data science that why I have joined"

In [53]:
c

'this is my first class for full stack data science that why I have joined'

In [59]:
c = "this is my first class for full stack data science that"s why I have joined"

SyntaxError: invalid syntax (<ipython-input-59-826b8f127ab6>, line 1)

In [61]:
c = "this is my first class for full stack data science that's why I have joined"

In [62]:
c

"this is my first class for full stack data science that's why I have joined"

In [65]:
c = 'this is my first class for full stack data science that's why I have joined'

SyntaxError: invalid syntax (<ipython-input-65-636de8d73e01>, line 1)

In [64]:
c

'this is my first class for full stack data science that"s why I have joined'

In [66]:
c = 'this is my first class for full stack data science that"s why I have joined'

In [67]:
c

'this is my first class for full stack data science that"s why I have joined'

In [68]:
s = "This is full stack class"

In [69]:
s[0]

'T'

In [70]:
s[-1]

's'

In [71]:
len(s)

24

In [75]:
s[4:10:]

''

In [74]:
s[10:4:-1]

'luf si'

In [76]:
s[-10:-1:1]

'tack clas'

In [79]:
s[-1:-10:-1]

'ssalc kca'

In [80]:
s[::-1]

'ssalc kcats lluf si sihT'

In [78]:
for i in s:
    print(i)

T
h
i
s

i
s

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [82]:
for i in range(len(s)):
    print(s[i])

T
h
i
s

i
s

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [83]:
s

'This is full stack class'

In [84]:
s[0]= "X"

TypeError: 'str' object does not support item assignment

In [85]:
l = ["Deepak", 567, 56789, 54, True]

In [86]:
l[0] = "Thakur"

In [87]:
l

['Thakur', 567, 56789, 54, True]

In [89]:
"Deepak" + " Thakur"

'Deepak Thakur'

In [90]:
"Deep" + 3

TypeError: can only concatenate str (not "int") to str

In [91]:
"Deep" + "3"

'Deep3'

In [92]:
"Deep" + str(3)

'Deep3'

In [94]:
"Deep" + ["thakur", 3,4,56]

TypeError: can only concatenate str (not "list") to str

In [96]:
"deep " *6

'deep deep deep deep deep deep '

In [97]:
s = "my name is"

In [98]:
s

'my name is'

In [100]:
s.upper()

'MY NAME IS'

In [113]:
s.find("m")

0

In [114]:
s.index("m")

0

In [116]:
s[3:7]

'name'

In [123]:
#task
b = s.find("n")
for i in range(len("name")):
    print(b+i)

3
4
5
6

In [124]:
s.count("m")

2

In [125]:
s.count("name")

1

In [130]:
s.split()

['my', 'name', 'is']

In [131]:
s.split("name")

['my ', ' is']

In [132]:
s.split(",")

['my name is']

In [133]:
s.split("n")

['my ', 'ame is']

In [134]:
s.swapcase()

'MY NAME IS'

In [137]:
"s".join(s)

'msys snsasmses siss'

In [139]:
reversed(s)

In [140]:
s[::-1]

'si eman ym'

In [141]:
list(reversed(s))

['s', 'i', ' ', 'e', 'm', 'a', 'n', ' ', 'y', 'm']

In [142]:
for i in reversed(s):
    print(i)

s
i

e
m
a
n

y
m

In [143]:
s = " Deep "

In [144]:
s

' Deep '

In [145]:
s.strip()

'Deep'

In [146]:
s.lstrip()

'Deep '

In [147]:
s.rstrip()

' Deep'

In [148]:
s = "  De ep  "

In [153]:
s.strip()

'De ep'

In [154]:
s = "my name is Deepak"

In [156]:
s.replace("s", "a")

'my name ia Deepak'

In [157]:
s = s.replace("s","a")

In [158]:
s

'my name ia Deepak'

In [164]:
s = s.replace("y","kuamr")

In [165]:
s

'mkuamr name ia Deepak'

In [166]:
s[1]

'k'

In [167]:
s = "Deep"

In [168]:
s.center(20, 'b')

'bbbbbbbbDeepbbbbbbbb'

In [169]:
s.center(20, '#')

'########Deep########'

In [170]:
s.center(20, '@')

'@@@@@@@@Deep@@@@@@@@'

In [171]:
s.center(20, 'bh')

TypeError: The fill character must be exactly one character long

In [175]:
s = "deepak\tThkaur"

In [176]:
s.expandtabs()

'deepak  Thkaur'

In [189]:
a = "we all are a part of Full stack"

In [192]:
len(a)

31

In [190]:
a[3]

'a'

In [178]:
a.lower()

'we all are a part of full stack'

In [205]:
b = a.count("a")
print(str(b))

5

In [203]:
b

5

In [200]:

for i in range(len(a)):
    if a[i] == 'a':
        print(i)

3
7
11
14
28

In [185]:
#l = list(a)

In [188]:
a

'we all are a part of Full stack'

In [204]:
a.split()

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'stack']

In [210]:
#task
a = "We all are apart of Full Stack"
print(a)
b = a.lower()
print(b)
c = a.count("a")
print(c)
for i in range(len(a)):
    if a[i] == "a":
        print(i)
d = a.replace("a", "ineuron")
print(d)
a.split()

We all are apart of Full Stack
we all are apart of full stack
5
3
7
11
13
27
We ineuronll ineuronre ineuronpineuronrt of Full Stineuronck

['We', 'all', 'are', 'apart', 'of', 'Full', 'Stack']