In [3]:
t =()

In [4]:
type(t)

tuple

In [5]:
l = []
type(l)

list

In [6]:
t1 = (234, 34, "deep", 3.45, True)

In [7]:
l1 = [234, 34, "deep", 3.45, True]

In [9]:
t1[0]

234

In [12]:
t1[5]

IndexError: tuple index out of range

In [13]:
t1[0:4]

(234, 34, 'deep', 3.45)

In [14]:
t1[::-1]

(True, 3.45, 'deep', 34, 234)

In [15]:
t1[-1]

True

In [16]:
t1

(234, 34, 'deep', 3.45, True)

In [17]:
l1[0]

234

In [18]:
l1[0] = "Kumar"

In [19]:
l1

['Kumar', 34, 'deep', 3.45, True]

In [21]:
t1[0] = "dsad"

TypeError: 'tuple' object does not support item assignment

In [22]:
t2 = (234,54,565)

In [23]:
t1 + t2

(234, 34, 'deep', 3.45, True, 234, 54, 565)

In [24]:
t1  *2

(234, 34, 'deep', 3.45, True, 234, 34, 'deep', 3.45, True)

In [26]:
34 in t1

True

In [28]:
"adsdas" in t1

False

In [29]:
t1

(234, 34, 'deep', 3.45, True)

In [30]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [31]:
t3 = (23,343,45,454,54)

In [32]:
min(t3)

23

In [33]:
max(t3)

454

In [34]:
t4 = ("dafda", "dd", "ddf")

In [35]:
max(t4)

'ddf'

In [36]:
min(t4)

'dafda'

In [37]:
t1

(234, 34, 'deep', 3.45, True)

In [39]:
t1.index(34)

1

In [40]:
t1 = (234, 34, 'deep', 3.45, True, 234, 34, 'deep', 3.45, True)
t1.index(34)

1

In [41]:
t1.count(34)

2

In [42]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [43]:
t3

(23, 343, 45, 454, 54)

In [44]:
min(t3)

23

In [45]:
min(t4)

'dafda'

In [46]:
t1

(234, 34, 'deep', 3.45, True, 234, 34, 'deep', 3.45, True)

In [49]:
t5 = (90,45)

In [50]:
t1+t5

(234, 34, 'deep', 3.45, True, 234, 34, 'deep', 3.45, True, 90, 45)

In [51]:
l5 = list(t1)

In [52]:
l5

[234, 34, 'deep', 3.45, True, 234, 34, 'deep', 3.45, True]

In [53]:
l5.insert(3, 5)

In [54]:
l5

[234, 34, 'deep', 5, 3.45, True, 234, 34, 'deep', 3.45, True]

In [55]:
tuple(l5)

(234, 34, 'deep', 5, 3.45, True, 234, 34, 'deep', 3.45, True)

In [60]:
t = ((3,4,5,6,7), ("addf", 45,45), ("454", 54), 45, 454, 67, [4,5,6,7,7])

In [64]:
#task to find 5 in tuple list
t[6][1]

5

In [63]:
type(t[6])

list

In [65]:
t[6][1:4]

[5, 6, 7]

In [67]:
t[1][0]

'addf'

In [68]:
for i in t:
    print(i)

(3, 4, 5, 6, 7)
('addf', 45, 45)
('454', 54)
45
454
67
[4, 5, 6, 7, 7]

In [70]:
for i in t:
    if type(i) == tuple:
        print(i[0])

3
addf
454

In [71]:
t1

(234, 34, 'deep', 3.45, True, 234, 34, 'deep', 3.45, True)

In [72]:
t2

(234, 54, 565)

In [73]:
if len(t1) == len(t2):
    print("its same")
else:
    print("Not same")

Not same

In [74]:
t = (234, 34, 'deep', 3.45, True, 234, 34, 'deep', 3.45, True, "Kumar")

In [76]:
i = input("take a user input")

if i in t:
    print("yes this element is available")
else:
    print("your name is not available")

take a user inputdeepak
your name is not available

In [77]:
t

(234, 34, 'deep', 3.45, True, 234, 34, 'deep', 3.45, True, 'Kumar')

In [78]:
l1

['Kumar', 34, 'deep', 3.45, True]

In [79]:
del(t)

In [80]:
t

NameError: name 't' is not defined

In [81]:
del(l1)

In [82]:
l1

NameError: name 'l1' is not defined

In [83]:
t2

(234, 54, 565)

In [84]:
x = set()

In [85]:
type(x)

set

In [86]:
l =[34, 45,45,45,67,34,56,78, "deep", "deep", "kumar"]
set(l)

{34, 45, 56, 67, 78, 'deep', 'kumar'}

In [87]:
l =[34, 45,45,45,67,34,56,78, "deep", "Deep", "kumar"]
set(l)

{34, 45, 56, 67, 78, 'Deep', 'deep', 'kumar'}

In [90]:
s = set(l)

In [91]:
s

{34, 45, 56, 67, 78, 'Deep', 'deep', 'kumar'}

In [92]:
for i in s:
    print(i)

34
67
kumar
deep
45
78
Deep
56

In [93]:
34 in s

True

In [94]:
s[0]

TypeError: 'set' object is not subscriptable

In [95]:
s{0}

SyntaxError: invalid syntax (<ipython-input-95-8b3d2dc3d6d7>, line 1)

In [96]:
s(0)

TypeError: 'set' object is not callable

In [97]:
s = set()
s

set()

In [98]:
s.add(76)

In [99]:
s

{76}

In [100]:
s.add("deep")
s.add("ssdd")
s.add([2342345,6543])

TypeError: unhashable type: 'list'

In [101]:
l =[34, 45,45,45,67,34,56,78, "deep", "Deep", "kumar", [3,4,5,6,]]
set(l)

TypeError: unhashable type: 'list'

In [102]:
s

{76, 'deep', 'ssdd'}

In [103]:
s.add(45)

In [104]:
s

{45, 76, 'deep', 'ssdd'}

In [105]:
s.add(45)

In [106]:
s

{45, 76, 'deep', 'ssdd'}

In [109]:
s.remove(45)

KeyError: 45

In [108]:
s

{76, 'deep', 'ssdd'}

In [110]:
s.remove(45)

KeyError: 45

In [111]:
s

{76, 'deep', 'ssdd'}

In [112]:
45 in s

False

In [113]:
s.clear()

In [114]:
s

set()

In [115]:
s.add("dhs")
s.add(234)
s.add(345)
s.add("wer")

In [116]:
s

{234, 345, 'dhs', 'wer'}

In [122]:
l1 = [7687,7678,768767,68767,8]

In [124]:
s1 = set(l1)

In [125]:
s1

{8, 7678, 7687, 68767, 768767}

In [126]:
s + s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [128]:
s *4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [129]:
s

{234, 345, 'dhs', 'wer'}

In [130]:
list(s)

['dhs', 345, 234, 'wer']

In [131]:
l4 = list(s)

In [132]:
l4.append(345)

In [133]:
l4

['dhs', 345, 234, 'wer', 345]

In [134]:
tuple(s)

('dhs', 345, 234, 'wer')

In [135]:
t4 = tuple(s)

In [136]:
set(t4)

{234, 345, 'dhs', 'wer'}

In [137]:
s[0]

TypeError: 'set' object is not subscriptable

In [138]:
s[0] = "daf"

TypeError: 'set' object does not support item assignment

In [139]:
x = {}

In [140]:
type(x)

dict

In [141]:
x1 = {43,54}

In [142]:
type(x1)

set

In [145]:
x = {"name " : "deep" , "age" : 28}

In [146]:
type(x)

dict

In [147]:
x1 = {"name " : "deep" , "age" : 28 , "name " : "ajkf" , True : "dfhd" , "key" : False, 344545:867}

In [148]:
x1

{'name ': 'ajkf', 'age': 28, True: 'dfhd', 'key': False, 344545: 867}

In [149]:
x1 = {"name " : "deep" , "age" : 28 , "name " : "ajkf" , True : "dfhd" , "key" : False, 344545:867, % : 8698}

SyntaxError: invalid syntax (<ipython-input-149-4318c72707a8>, line 1)

In [152]:
x1 = {"name " : "deep" , "age" : 28 ,  True : "dfhd" , "key" : False, 344545:867, "_hsaj" : "deep"}

In [153]:
x1

{'name ': 'deep',
 'age': 28,
 True: 'dfhd',
 'key': False,
 344545: 867,
 '_hsaj': 'deep'}

In [154]:
x1 = {"name " : "deep" , "age" : 28 ,  True : "dfhd" , "key" : False, 344545:867, "_hsaj" : [43,456,456,4567]}

In [155]:
x1

{'name ': 'deep',
 'age': 28,
 True: 'dfhd',
 'key': False,
 344545: 867,
 '_hsaj': [43, 456, 456, 4567]}

In [156]:
x1 = {"name " : "deep" , "age" : 28 ,  True : {45,54,6446,546464} , "key" : False, 344545:867, "_hsaj" : [43,456,456,4567]}

In [157]:
x1

{'name ': 'deep',
 'age': 28,
 True: {45, 54, 6446, 546464},
 'key': False,
 344545: 867,
 '_hsaj': [43, 456, 456, 4567]}

In [162]:
x2 = {"name " :{"k1" : "wer", 'k4' : [44254,54435434,566]} , "age" : 286 ,  True : {45,54,6446,546464} , "key" : False, 344545:(35,545,4545,4), "_hsaj" : [43,456,456,4567]}

In [163]:
x2

{'name ': {'k1': 'wer', 'k4': [44254, 54435434, 566]},
 'age': 286,
 True: {45, 54, 6446, 546464},
 'key': False,
 344545: (35, 545, 4545, 4),
 '_hsaj': [43, 456, 456, 4567]}

In [164]:
x3 = { [3,4,5,5] : "wer", 'k4' : [44254,54435434,566]}

TypeError: unhashable type: 'list'

In [165]:
x3 = { (3,4,5,5) : "wer", 'k4' : [44254,54435434,566]}

In [166]:
x3

{(3, 4, 5, 5): 'wer', 'k4': [44254, 54435434, 566]}

In [167]:
x3 = { {3,4,5,5} : "wer", 'k4' : [44254,54435434,566]}

TypeError: unhashable type: 'set'

In [168]:
x3 = { {3 : "fsd"} : "wer", 'k4' : [44254,54435434,566]}

TypeError: unhashable type: 'dict'

In [169]:
x3 = { 5 : "wer", 'k4' : [44254,54435434,566]}

In [170]:
l = [34,45,4,54]
l[2]

4

In [171]:
x2["key"]

False

In [172]:
x2[344545]

(35, 545, 4545, 4)

In [174]:
x2["_hsaj"]

[43, 456, 456, 4567]

In [175]:
type(x2["_hsaj"])

list

In [176]:
x2["_hsaj"][3]

4567

In [178]:
x2["name "]

{'k1': 'wer', 'k4': [44254, 54435434, 566]}

In [179]:
type(x2["name "])

dict

In [182]:
x2["name "]["k4"]

[44254, 54435434, 566]

In [183]:
x2["name "]["k4"][0]

44254

In [184]:
x3

{5: 'wer', 'k4': [44254, 54435434, 566]}

In [185]:
x4 = {"k4" : "fsdfs"}

In [186]:
x3 + x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [187]:
x3 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [191]:
x3

{5: 'wer', 'k4': 'deep'}

In [194]:
x3["k4"] = 456

In [195]:
x3

{5: 'wer', 'k4': 456}

In [196]:
x3["k4"] -= 10

In [197]:
x3

{5: 'wer', 'k4': 446}

In [198]:
x3["k4"] = x3["k4"] -10

In [199]:
x3

{5: 'wer', 'k4': 436}

In [200]:
x3.keys()

dict_keys([5, 'k4'])

In [201]:
"k4" in x3.keys()

True

In [203]:
x3.keys()

dict_keys([5, 'k4'])

In [204]:
 for i in x3.keys(): 
        print(i)

5
k4

In [205]:
x3

{5: 'wer', 'k4': 436}

In [206]:
for i in x3.keys(): 
        print(x3[i])

wer
436

In [207]:
x2

{'name ': {'k1': 'wer', 'k4': [44254, 54435434, 566]},
 'age': 286,
 True: {45, 54, 6446, 546464},
 'key': False,
 344545: (35, 545, 4545, 4),
 '_hsaj': [43, 456, 456, 4567]}

In [208]:
x2.keys()

dict_keys(['name ', 'age', True, 'key', 344545, '_hsaj'])

In [209]:
for i in x2.keys():
    print(x2[i])

{'k1': 'wer', 'k4': [44254, 54435434, 566]}
286
{6446, 546464, 45, 54}
False
(35, 545, 4545, 4)
[43, 456, 456, 4567]

In [211]:
for i in x2.keys():
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'tuple'>
<class 'list'>

In [212]:
x2.items()

dict_items([('name ', {'k1': 'wer', 'k4': [44254, 54435434, 566]}), ('age', 286), (True, {6446, 546464, 45, 54}), ('key', False), (344545, (35, 545, 4545, 4)), ('_hsaj', [43, 456, 456, 4567])])

In [215]:
for i in x2.items():
    print(i)

('name ', {'k1': 'wer', 'k4': [44254, 54435434, 566]})
('age', 286)
(True, {6446, 546464, 45, 54})
('key', False)
(344545, (35, 545, 4545, 4))
('_hsaj', [43, 456, 456, 4567])

In [216]:
for i in x2.items():
    print(i[0])

name
age
True
key
344545
_hsaj

In [217]:
for i in x2.items():
    print(i[1])

{'k1': 'wer', 'k4': [44254, 54435434, 566]}
286
{6446, 546464, 45, 54}
False
(35, 545, 4545, 4)
[43, 456, 456, 4567]

In [218]:
x5 = {(34,56,56) : "fdfdgs"}
x5[(34,56,56)]

'fdfdgs'

In [219]:
x2

{'name ': {'k1': 'wer', 'k4': [44254, 54435434, 566]},
 'age': 286,
 True: {45, 54, 6446, 546464},
 'key': False,
 344545: (35, 545, 4545, 4),
 '_hsaj': [43, 456, 456, 4567]}

In [220]:
len(x2)

6

In [221]:
e = {56 : {45, 78, 89}}
e[56]

{45, 78, 89}

In [223]:
l = list(e[56])

In [224]:
l

[89, 45, 78]

In [225]:
l[1]

45

In [226]:
#task
# 1) take input as a paragraph by using input func.
# 2) convert all of this input into list.
# 3) remove all the duplicate element from your list.
# 4) use above distinct element as a key for dictionary and assign your name as a value of all the key for dict.
# 5) Try to print tuple of all the values.
# 6) try to print list of all the key

In [255]:
# 1) take input as a paragraph by using input func.
a = input("Enter the paragraph")
# 2) convert all of this input into list.
b = list(a)
print(b)
# 3) remove all the duplicate element from your list.
c = set(b)
print(c)
# 4) use above distinct element as a key for dictionary and assign your name as a value of all the key for dict.
f = {}
for i in c:
    f[i] = "deepak"
print(f)
# 5) Try to print tuple of all the values.
t = list(f.values())
print(t)
# 6) try to print list of all the key
u = tuple(f.keys())
print(u)

Enter the paragraphCoronaviruses are a group of related RNA viruses that cause diseases in mammals and birds. In humans and birds, they cause respiratory tract infections that can range from mild to lethal. Mild illnesses in humans include some cases of the common cold (which is also caused by other viruses, predominantly rhinoviruses), while more lethal varieties can cause SARS, MERS, and COVID-19. In cows and pigs they cause diarrhea, while in mice they cause hepatitis and encephalomyelitis.
['C', 'o', 'r', 'o', 'n', 'a', 'v', 'i', 'r', 'u', 's', 'e', 's', ' ', 'a', 'r', 'e', ' ', 'a', ' ', 'g', 'r', 'o', 'u', 'p', ' ', 'o', 'f', ' ', 'r', 'e', 'l', 'a', 't', 'e', 'd', ' ', 'R', 'N', 'A', ' ', 'v', 'i', 'r', 'u', 's', 'e', 's', ' ', 't', 'h', 'a', 't', ' ', 'c', 'a', 'u', 's', 'e', ' ', 'd', 'i', 's', 'e', 'a', 's', 'e', 's', ' ', 'i', 'n', ' ', 'm', 'a', 'm', 'm', 'a', 'l', 's', ' ', 'a', 'n', 'd', ' ', 'b', 'i', 'r', 'd', 's', '.', ' ', 'I', 'n', ' ', 'h', 'u', 'm', 'a', 'n', 's', ' ', 'a', 'n', 'd', ' ', 'b', 'i', 'r', 'd', 's', ',', ' ', 't', 'h', 'e', 'y', ' ', 'c', 'a', 'u', 's', 'e', ' ', 'r', 'e', 's', 'p', 'i', 'r', 'a', 't', 'o', 'r', 'y', ' ', 't', 'r', 'a', 'c', 't', ' ', 'i', 'n', 'f', 'e', 'c', 't', 'i', 'o', 'n', 's', ' ', 't', 'h', 'a', 't', ' ', 'c', 'a', 'n', ' ', 'r', 'a', 'n', 'g', 'e', ' ', 'f', 'r', 'o', 'm', ' ', 'm', 'i', 'l', 'd', ' ', 't', 'o', ' ', 'l', 'e', 't', 'h', 'a', 'l', '.', ' ', 'M', 'i', 'l', 'd', ' ', 'i', 'l', 'l', 'n', 'e', 's', 's', 'e', 's', ' ', 'i', 'n', ' ', 'h', 'u', 'm', 'a', 'n', 's', ' ', 'i', 'n', 'c', 'l', 'u', 'd', 'e', ' ', 's', 'o', 'm', 'e', ' ', 'c', 'a', 's', 'e', 's', ' ', 'o', 'f', ' ', 't', 'h', 'e', ' ', 'c', 'o', 'm', 'm', 'o', 'n', ' ', 'c', 'o', 'l', 'd', ' ', '(', 'w', 'h', 'i', 'c', 'h', ' ', 'i', 's', ' ', 'a', 'l', 's', 'o', ' ', 'c', 'a', 'u', 's', 'e', 'd', ' ', 'b', 'y', ' ', 'o', 't', 'h', 'e', 'r', ' ', 'v', 'i', 'r', 'u', 's', 'e', 's', ',', ' ', 'p', 'r', 'e', 'd', 'o', 'm', 'i', 'n', 'a', 'n', 't', 'l', 'y', ' ', 'r', 'h', 'i', 'n', 'o', 'v', 'i', 'r', 'u', 's', 'e', 's', ')', ',', ' ', 'w', 'h', 'i', 'l', 'e', ' ', 'm', 'o', 'r', 'e', ' ', 'l', 'e', 't', 'h', 'a', 'l', ' ', 'v', 'a', 'r', 'i', 'e', 't', 'i', 'e', 's', ' ', 'c', 'a', 'n', ' ', 'c', 'a', 'u', 's', 'e', ' ', 'S', 'A', 'R', 'S', ',', ' ', 'M', 'E', 'R', 'S', ',', ' ', 'a', 'n', 'd', ' ', 'C', 'O', 'V', 'I', 'D', '-', '1', '9', '.', ' ', 'I', 'n', ' ', 'c', 'o', 'w', 's', ' ', 'a', 'n', 'd', ' ', 'p', 'i', 'g', 's', ' ', 't', 'h', 'e', 'y', ' ', 'c', 'a', 'u', 's', 'e', ' ', 'd', 'i', 'a', 'r', 'r', 'h', 'e', 'a', ',', ' ', 'w', 'h', 'i', 'l', 'e', ' ', 'i', 'n', ' ', 'm', 'i', 'c', 'e', ' ', 't', 'h', 'e', 'y', ' ', 'c', 'a', 'u', 's', 'e', ' ', 'h', 'e', 'p', 'a', 't', 'i', 't', 'i', 's', ' ', 'a', 'n', 'd', ' ', 'e', 'n', 'c', 'e', 'p', 'h', 'a', 'l', 'o', 'm', 'y', 'e', 'l', 'i', 't', 'i', 's', '.']
{'A', '.', ' ', 'm', ',', 'S', 'd', 'V', 'o', 'E', 'v', 't', 'I', 'a', 'R', '(', ')', 'e', 'n', 'l', 'D', '9', 'i', 'f', 'c', 'w', 'N', 'O', 'u', 'M', '1', 'C', 's', 'r', 'y', 'p', 'g', 'h', '-', 'b'}
{'A': 'deepak', '.': 'deepak', ' ': 'deepak', 'm': 'deepak', ',': 'deepak', 'S': 'deepak', 'd': 'deepak', 'V': 'deepak', 'o': 'deepak', 'E': 'deepak', 'v': 'deepak', 't': 'deepak', 'I': 'deepak', 'a': 'deepak', 'R': 'deepak', '(': 'deepak', ')': 'deepak', 'e': 'deepak', 'n': 'deepak', 'l': 'deepak', 'D': 'deepak', '9': 'deepak', 'i': 'deepak', 'f': 'deepak', 'c': 'deepak', 'w': 'deepak', 'N': 'deepak', 'O': 'deepak', 'u': 'deepak', 'M': 'deepak', '1': 'deepak', 'C': 'deepak', 's': 'deepak', 'r': 'deepak', 'y': 'deepak', 'p': 'deepak', 'g': 'deepak', 'h': 'deepak', '-': 'deepak', 'b': 'deepak'}
['deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak', 'deepak']
('A', '.', ' ', 'm', ',', 'S', 'd', 'V', 'o', 'E', 'v', 't', 'I', 'a', 'R', '(', ')', 'e', 'n', 'l', 'D', '9', 'i', 'f', 'c', 'w', 'N', 'O', 'u', 'M', '1', 'C', 's', 'r', 'y', 'p', 'g', 'h', '-', 'b')

In [256]:
d1 = {"company" : "ineuron", "course" : "full stack data science", "year" : 2021}

In [259]:
for i in d1:
    print("print keys::", i, "vlaue wise::", d1[i])

print keys:: company vlaue wise:: ineuron
print keys:: course vlaue wise:: full stack data science
print keys:: year vlaue wise:: 2021

In [260]:
"course" in d1

True

In [265]:
for i in d1:
    if i == "year":
        if d1[i] > 2021:
            print("year is fine")
        else:
            d1[i] =2022

year is fine

In [266]:
d1

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2022}

In [268]:
my_dict = {}
for i in range(10):
    my_dict[i] = i*i

In [269]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [270]:
{i : i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [271]:
{i : i*i for i in range(0,10,2)}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [272]:
{i : i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}