# Python Tutorial

## Welcome to python tutorila
- Datatypes
- variables

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
2*10

20

In [4]:
10/2

5.0

In [5]:
10%2

0

In [6]:
10/2

5.0

In [7]:
10**2

100

In [8]:
type(1)

int

In [9]:
type('Hello')

str

In [10]:
10 * 'str'

'strstrstrstrstrstrstrstrstrstr'

In [11]:
type(10.0)

float

## String

In [12]:
"Hello"

'Hello'

In [13]:
'Krish Naik'

'Krish Naik'

In [14]:
type('Krish Naik')

str

# Variable Assignment

In [15]:
#syntax
#var_name = values

a=10

In [16]:
type(10)

int

In [17]:
type(a)

int

In [18]:
a = 'Deep'

In [19]:
type(a)

str

In [20]:
## Mathematical operation with variable Assignment

a=10
b=10

In [21]:
print(a*b)
print(a/b)
print(a%b)
print((a+b)+(a/b))

100
1.0
0
21.0

In [22]:
## Various ways of Printing

print("hello")

hello

In [23]:
first_name = 'Deepak'
last_name = 'Thakur'

In [27]:
print("My first name is {} and last name is {}".format(last_name, first_name))

My first name is Thakur and last name is Deepak

In [26]:
print("My First name is {First} and last name is {last}" .format(First=first_name, last=last_name))

My First name is Deepak and last name is Thakur

In [28]:
len('krish')

5

In [29]:
type(1+45j)

complex

In [30]:
type([1,2,3,4])

list

# Python Data Structures and Boolean
- Boolean
- Boolean and LogicalOperators
- Lists
- Comparison operators

In [31]:
bool()

False

In [32]:
False

False

In [33]:
print(True, False)

True False

In [34]:
my_str="deepak"

In [35]:
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.istitle())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('d'))
print(my_str.startswith('H'))

True
True
False
False
False
True
False
False
False

# Boolean and Loical Operators

In [1]:
True and True

True

In [2]:
True and False

False

In [3]:
True or False

True

In [4]:
False and True

False

In [5]:
str_example = "Hello World"
my_str = "Krish"

In [6]:
my_str.isalpha() or str_example.isnum()

True

# List

A list is a data structure in python that is mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as string

In [7]:
ls_example = []

In [8]:
type(ls_example)

list

In [9]:
lst=list()

In [10]:
type(lst)

list

In [11]:
lst=['Mathematics', 'chemistry', 100, 200, 300,204]

In [13]:
len(lst)

6

In [14]:
type(lst)

list

In [ ]:
# Append

In [15]:
lst.append("deepak")

In [16]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'deepak']

# Insert

In [17]:
lst.insert(1, 'Thakur')

In [18]:
lst

['Mathematics', 'Thakur', 'chemistry', 100, 200, 300, 204, 'deepak']

In [19]:
lst[3]

100

In [20]:
lst[:]

['Mathematics', 'Thakur', 'chemistry', 100, 200, 300, 204, 'deepak']

In [21]:
lst[:-1]

['Mathematics', 'Thakur', 'chemistry', 100, 200, 300, 204]

In [22]:
lst

['Mathematics', 'Thakur', 'chemistry', 100, 200, 300, 204, 'deepak']

In [23]:
lst[:-2]

['Mathematics', 'Thakur', 'chemistry', 100, 200, 300]

In [24]:
lst[:1]

['Mathematics']

In [25]:
lst.insert(1, "kdafj")

In [26]:
lst

['Mathematics', 'kdafj', 'Thakur', 'chemistry', 100, 200, 300, 204, 'deepak']

In [27]:
lst.append(["Hello", "world"])

In [28]:
lst

['Mathematics',
 'kdafj',
 'Thakur',
 'chemistry',
 100,
 200,
 300,
 204,
 'deepak',
 ['Hello', 'world']]

# Extend methos

In [29]:
lst = [1,2,3,4,5,6]

In [32]:
lst.extend([8,9])

In [33]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [34]:
sum(lst)

38

In [37]:
sum = 0
for i in lst:
    if type(i) == int:
        sum = sum + i
print(sum)

38

In [38]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [39]:
lst.pop(5)

6

In [40]:
lst

[1, 2, 3, 4, 5, 8, 9]

In [41]:
lst.pop(0)

1

In [42]:
lst

[2, 3, 4, 5, 8, 9]

In [43]:
lst = [1,2,1,3,4,2]

In [44]:
lst.count(1)

2

In [45]:
len(lst)

6

In [48]:
lst.index(1,0,4)

0

In [49]:
min)lst

SyntaxError: unmatched ')' (<ipython-input-49-d2f3f3a96e35>, line 1)

In [50]:
min(lst)

1

In [51]:
max(lst)

4

In [52]:
lst**2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [53]:
lst*3

[1, 2, 1, 3, 4, 2, 1, 2, 1, 3, 4, 2, 1, 2, 1, 3, 4, 2]

# Sets

In [54]:
set_var = set()
print(set_var)

set()

In [55]:
print(type(set_var))

<class 'set'>

In [62]:
set_var= {"Avengers", "Ironman", "Hitman"}
print(set_var)
type(set_var)

{'Ironman', 'Hitman', 'Avengers'}

set

In [58]:
set_var = {1,1,2,2,3,3,4,4,4,5,5}

In [59]:
set_var

{1, 2, 3, 4, 5}

In [60]:
set

set

In [61]:
set_var[0]

TypeError: 'set' object is not subscriptable

In [63]:
set_var

{'Avengers', 'Hitman', 'Ironman'}

In [64]:
set_var.add("hulk")

In [65]:
set_var

{'Avengers', 'Hitman', 'Ironman', 'hulk'}

In [66]:
set1 = set_var

In [67]:
set1

{'Avengers', 'Hitman', 'Ironman', 'hulk'}

In [71]:
set2= {"Avengers", "Hitman", "Ironman", "hulk2"}

In [72]:
set2.difference(set1)

{'hulk2'}

In [73]:
set2.difference_update(set1)

In [74]:
set2

{'hulk2'}

In [75]:
 dic = {}

In [76]:
type(dic)

dict

In [77]:
d = {1,2,3,4,5}

In [78]:
type(d)

set

In [79]:
d = {"car1" : "Audi", "car2" : "BMW", "car3" : "Mrec"}

In [80]:
d

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mrec'}

In [81]:
type(d)

dict

In [85]:
d['car1']

'Audi'

In [86]:
for i in d:
    print(i)

car1
car2
car3

In [88]:
for i in d.values():
    print(i)

Audi
BMW
Mrec

In [89]:
for i in d.keys():
    print(i)

car1
car2
car3

In [90]:
for i in d.items():
    print(i)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mrec')

In [91]:
d

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mrec'}

In [93]:
d["car4"] = "nexom"

In [95]:
d["car1"] = 'nexon'

In [96]:
d

{'car1': 'nexon', 'car2': 'BMW', 'car3': 'Mrec', 'car4': 'nexom'}

In [97]:
car_model1 = {"Merc" : 1960 }
car_model2 = {"Audi" : 1970 }
car_model3 = {"Amb" : 1980 }

In [100]:
car_type= {"car1" : car_model1, "car2" : car_model2, "car3" : car_model3}

In [101]:
print(car_type)

{'car1': {'Merc': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Amb': 1980}}

In [105]:
print(car_type['car3']['Amb
                        '])

1970

# Tuples

In [107]:
my_tuple=()

In [108]:
type(my_tuple)

tuple

In [109]:
my_tuple=("Krish", "Ankur", "John")

In [110]:
my_tuple[0]

'Krish'

In [111]:
my_tuple[1]

'Ankur'

In [112]:
my_tuple[2]

'John'

In [113]:
print(type(my_tuple))

<class 'tuple'>