In [2]:
a = 10
b = 20
 
if a==10 and b==20:
    print("valid statement")

valid statement

In [3]:
a==10 and b==20

True

In [4]:
a ==10

True

In [5]:
b == 20

True

In [7]:
a = 10
b = 20
 
if a==10 and b>20:
    print("valid statement")
else:
    print("Invalid statement")

Invalid statement

In [10]:
#and statement
a = 10
b = 20
 
if a==10 and b>20:
    print("valid statement")
elif a==10 and b<20:
    print("this is valid inside elif")
else:
    print("Invalid statement")

Invalid statement

In [12]:
#or statement
a = 10
b = 20
 
if a==10 or b>20:
    print("valid statement")
elif a==10 and b<20:
    print("this is valid inside elif")
else:
    print("Invalid statement")

valid statement

In [16]:
##task:

fname = input("Enter first name::")
lname = input("Eneter last name::")

if fname == "Deepak" and lname == "Thakur":
    print("Correct name")

Enter first name::Deepak
Eneter last name::Thakur
Correct name

In [17]:
if a == 10 : print("Correct")

Correct

In [18]:
#while loop
initial_count = 0
final_count = 1
count = 1

while initial_count < final_count:
    print("This is my speed")
    count = count + 1
    if count == 10:
        break

This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed

In [19]:
#while loop
initial_count = 0
final_count = 1
count = 1

while initial_count < final_count:
    print("This is my speed")
    count = count + 1
    if count == 4:
        break

This is my speed
This is my speed
This is my speed

In [22]:
#while loop
i = 1
j = 5

while i <j:
    print(i)
    i = i+1

1
2
3
4

In [23]:
#while loop
note =5
i =1
while i<note:
    print(i)
    i=i+1
else:
    print("No 10 rs note")

1
2
3
4
No 10 rs note

In [25]:
#while loop
note =5
i =1
j=1
while i<note:
    print(i)
    i=i+1
else:
    while j < note:
        print(j)
        j=j+1
print("No 10 rs note")

1
2
3
4
1
2
3
4
No 10 rs note

In [30]:
s = "my name is deepak"

In [31]:
s

'my name is deepak'

In [32]:
s[2]

' '

In [29]:
s[20]

IndexError: string index out of range

In [33]:
s[3:10]

'name is'

In [34]:
s[3:10:2]

'nm s'

In [35]:
#reverse
s[10:3]

''

In [36]:
s[10:3:1]

''

In [37]:
s[10:3:-1]

' si ema'

In [38]:
s[10:3:-2]

' iea'

In [52]:
s[::-1]

'kapeed si eman ym'

In [40]:
s[2:-6]

' name is '

In [41]:
s ="deep"

In [48]:
s[-4]

'd'

In [49]:
s ="my name is deepak"

In [53]:
#for loop
for i in s:
    print(i)

m
y

n
a
m
e

i
s

d
e
e
p
a
k

In [57]:
#for loop
for i in s:
    if i == 's':
        print(" I got s as string")
    print(i)

m
y

n
a
m
e

i
 I got s as string
s

d
e
e
p
a
k

In [58]:
s

'my name is deepak'

In [59]:
for i in s:
    print(i)
else:
    print("this is else condition")

m
y

n
a
m
e

i
s

d
e
e
p
a
k
this is else condition

In [60]:
for i in s:
    print(i)
else:
    if i =='k':
        print("last character is k")
    print("this is else condition")

m
y

n
a
m
e

i
s

d
e
e
p
a
k
last character is k
this is else condition

In [61]:
for i in s:
    if i == 'n':
        break
    print(i)
else:
    if i =='k':
        print("last character is k")
    print("this is else condition")

m
y

In [62]:
for i in s:
    if i == 'n':
        continue
    print(i)
else:
    if i =='k':
        print("last character is k")
    print("this is else condition")

m
y

a
m
e

i
s

d
e
e
p
a
k
last character is k
this is else condition

In [63]:
    len(s)

17

In [73]:
#task
s = "ineuron"

for i in s:
    if i == 'n':
        continue
    print(i)

i
e
u
r
o

In [1]:
#task2
s = "ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss = ss + s[i]
        
ss

'ieuro'

In [82]:
n = 7
for i in range(0 ,n):
    for j in range(0 , i+1):
        print("+ ", end = "")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [90]:
#task
n=7
for i in range(n ,0,-1):
    for j in range(n-i):
        print(" ", end = " ")
        
    for j in range(2*i-1):
        print("*", end = " ")
    print("")

* * * * * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [98]:
for i in range(7,0,-1):
    print(i)

7
6
5
4
3
2
1

In [102]:
#task
n=9
i=0
while i<n:
    print(' '*(n-i-1) + '* '*(i+1))
    i+=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *