In [27]:
import pandas as pd

In [17]:
df = pd.read_csv('D:/users1.csv')

In [18]:
df

         userEmail  password
0  Load03@Test.com  Test@123

In [19]:
for i in range(1, 51):
    df['password'] = 'Test@123'

In [20]:
df

         userEmail  password
0  Load03@Test.com  Test@123

In [3]:
import pandas as pd

In [22]:
list = [["Load@Test.com", "Test@123"]]

In [23]:
csvfile =  open("userss50.csv", "w+")

In [24]:
writer = csv.writer(csvfile)
writer.writerow(["userEmail", "password"])
for i in range(1, 51):
    writer.writerows(list)

In [93]:



list = []

for i in range(1, 51):
    list.append("load50_Test{}@Test.com" .format(i))
    
    
print(list)

['load50_Test1@Test.com', 'load50_Test2@Test.com', 'load50_Test3@Test.com', 'load50_Test4@Test.com', 'load50_Test5@Test.com', 'load50_Test6@Test.com', 'load50_Test7@Test.com', 'load50_Test8@Test.com', 'load50_Test9@Test.com', 'load50_Test10@Test.com', 'load50_Test11@Test.com', 'load50_Test12@Test.com', 'load50_Test13@Test.com', 'load50_Test14@Test.com', 'load50_Test15@Test.com', 'load50_Test16@Test.com', 'load50_Test17@Test.com', 'load50_Test18@Test.com', 'load50_Test19@Test.com', 'load50_Test20@Test.com', 'load50_Test21@Test.com', 'load50_Test22@Test.com', 'load50_Test23@Test.com', 'load50_Test24@Test.com', 'load50_Test25@Test.com', 'load50_Test26@Test.com', 'load50_Test27@Test.com', 'load50_Test28@Test.com', 'load50_Test29@Test.com', 'load50_Test30@Test.com', 'load50_Test31@Test.com', 'load50_Test32@Test.com', 'load50_Test33@Test.com', 'load50_Test34@Test.com', 'load50_Test35@Test.com', 'load50_Test36@Test.com', 'load50_Test37@Test.com', 'load50_Test38@Test.com', 'load50_Test39@Test.com', 'load50_Test40@Test.com', 'load50_Test41@Test.com', 'load50_Test42@Test.com', 'load50_Test43@Test.com', 'load50_Test44@Test.com', 'load50_Test45@Test.com', 'load50_Test46@Test.com', 'load50_Test47@Test.com', 'load50_Test48@Test.com', 'load50_Test49@Test.com', 'load50_Test50@Test.com']

In [94]:
df1 = pd.DataFrame(list)

In [95]:
df1['password'] = 'Test@123'

In [96]:
df1.columns=['userEmail', 'password']

In [97]:
df1

                 userEmail  password
0    load50_Test1@Test.com  Test@123
1    load50_Test2@Test.com  Test@123
2    load50_Test3@Test.com  Test@123
3    load50_Test4@Test.com  Test@123
4    load50_Test5@Test.com  Test@123
5    load50_Test6@Test.com  Test@123
6    load50_Test7@Test.com  Test@123
7    load50_Test8@Test.com  Test@123
8    load50_Test9@Test.com  Test@123
9   load50_Test10@Test.com  Test@123
10  load50_Test11@Test.com  Test@123
11  load50_Test12@Test.com  Test@123
12  load50_Test13@Test.com  Test@123
13  load50_Test14@Test.com  Test@123
14  load50_Test15@Test.com  Test@123
15  load50_Test16@Test.com  Test@123
16  load50_Test17@Test.com  Test@123
17  load50_Test18@Test.com  Test@123
18  load50_Test19@Test.com  Test@123
19  load50_Test20@Test.com  Test@123
20  load50_Test21@Test.com  Test@123
21  load50_Test22@Test.com  Test@123
22  load50_Test23@Test.com  Test@123
23  load50_Test24@Test.com  Test@123
24  load50_Test25@Test.com  Test@123
25  load50_Test26@Test.com  Test@123
26  load50_Test27@Test.com  Test@123
27  load50_Test28@Test.com  Test@123
28  load50_Test29@Test.com  Test@123
29  load50_Test30@Test.com  Test@123
30  load50_Test31@Test.com  Test@123
31  load50_Test32@Test.com  Test@123
32  load50_Test33@Test.com  Test@123
33  load50_Test34@Test.com  Test@123
34  load50_Test35@Test.com  Test@123
35  load50_Test36@Test.com  Test@123
36  load50_Test37@Test.com  Test@123
37  load50_Test38@Test.com  Test@123
38  load50_Test39@Test.com  Test@123
39  load50_Test40@Test.com  Test@123
40  load50_Test41@Test.com  Test@123
41  load50_Test42@Test.com  Test@123
42  load50_Test43@Test.com  Test@123
43  load50_Test44@Test.com  Test@123
44  load50_Test45@Test.com  Test@123
45  load50_Test46@Test.com  Test@123
46  load50_Test47@Test.com  Test@123
47  load50_Test48@Test.com  Test@123
48  load50_Test49@Test.com  Test@123
49  load50_Test50@Test.com  Test@123

In [98]:
df1.to_csv("users50.csv")